{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% load tz %}

{% block title_menu %} Summary {% endblock %}

{% block content %}

<style>
  th, td {
    text-align: center;
    vertical-align: center;
  }
  .table_big_colum{
    width: 80%;
  }
</style>

<script type="text/javascript">
  $(document).ready(function() {
      $('.date_input').on('change', function() {this.form.submit();});
      $('.show-description').click(function() {$(this).closest("td").html($(this).attr('description'));});
  });
</script>
  <form action="." method="post">
    {% csrf_token %}
    <table>
      <tr><th colspan="2" class="collapse_th"> Workout summary</th></tr>
        <tr>
          <th colspan="2" class="collapse_th">
            <select id="company_select" name="company" class="date_input">
              <option value="all">All</option>
              {% for company in companies %}
                <option value="{{company.id}}" {% if search_company == company.id|slugify %}selected{% endif %}>{{company.name}}</option>
              {% endfor %}
            </select>
          </th>
        </tr>
      <tr>
        <td><input type="date" class="date_input" name="start_date" value='{{start_date|timezone:user.timezone|date:"Y-m-d"}}'></td>
        <td><input type="date" class="date_input" name="end_date" value='{{end_date|timezone:user.timezone|date:"Y-m-d"}}'></td>
      </tr>
    </table>
  </form>

  <table>
    <tr>
      <th class="hidden-mobile"><i class="icon solid fa-briefcase"></i></th>
      <th><i class="icon solid fa-calendar-alt"></i></th>
      <th><i class="icon solid fa-map-marker"></i></th>
      <th><i class="icon solid fa-sign-in-alt"></i></th>
      <th><i class="icon solid fa-sign-out-alt"></i></th>
      <th class="hidden-mobile"><i class="icon solid fa-comment" title="Tasks"></th>
      <th><i class="icon solid fa-hourglass-half"></i></th>
    </tr>
    
    {% for signing in signings %}
      <tr id="signing_{{signing.id}}" description="{% if signing.description %}{{signing.description}}{% else %}No information available!{% endif %}">
        <td class="hidden-mobile">{{signing.company}}</td>
        <td>{{signing.start_date|timezone:user.timezone|date:"d/m"}}</td>
        <td>
          {% if signing.worklocation %}
            {% if signing.worklocation.remote %}
              <i class="icon solid fa-laptop-house" title="{{signing.worklocation.name}}"></i>
            {% else %}
            <i class="icon solid fa-building" title="{{signing.worklocation.name}}"></i>
            {% endif %}
          {% else %}
            -         
          {% endif %}
        </td>
        <td>{{signing.start_date|timezone:user.timezone|date:"H:i"}}</td>
        <td> 
          {% if signing.end_date %}
            {{signing.end_date|timezone:user.timezone|date:"H:i"}}
          {% else %}
            <i class="icon solid fa-history"></i>
          {% endif %}
        </td>
        <td class="hidden-mobile">
          {% if signing.description %}
            <i class="icon solid fa-eye show-description" title="Show tasks" description="{{signing.description}}"></i>
          {% else %}
            <i class="icon solid fa-times" title="Any task description available"></i>
          {% endif %}
        </td>
        <td>{{signing.get_sign_duration|timedelta_to_hours}}</td>
      </tr>
    {% endfor %}
  </table>
  <table>
    {% if signings %}
      <th class="table_big_colum">Total</th>
      <th>{{worked_time|timedelta_to_hours}}</th>
    {% else %}
      <tr>
        <td>Any workout found for this time interval</td>
      </tr>
    {% endif %}


  </table>




{% endblock %}